@page "/academic"
<PageTitle>X27: Academic Projects</PageTitle>

<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Academic Projects</strong></h1></MudText>
     <MudCard Elevation="2" Class="mt-2 pa-4">
        <MudText><strong>Winter 2024</strong></MudText>
        <MudExpansionPanels Class="mt-4">
            <MudExpansionPanel Text="Xumorous" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xumorous.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xumorous</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 436 Mobile Application Design and Development at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">April 19th 2024</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Conducted research on apps that brings humor to our social life (particularly meme generators).
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Implemented the project by creating XML files for layout, Kotlin files for back-end and used Restful APIs to retrieve meme, joke and insult data using Android Studio.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A for the individual project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xumorous" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xat" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xat.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xat</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 436 Mobile Application Design and Development at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">April 13th 2024</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Conducted research on developing an app to provide more information about cats to cat lovers.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Implemented the project by creating XML files for layout, Kotlin files for back-end and used Restful APIs to retrieve cat data using Android Studio.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A for the individual project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xat" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xalxoid" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xalxoid.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xalxoid</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 436 Mobile Application Design and Development at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">March 24th 2024</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Conducted research on developing a native calculator application for Android to replace its original calculator application.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Implemented the project by creating XML files for layout and Kotlin files for back-end using Android Studio.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A for the individual project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xalxoid" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xarithmetics" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xarithmetics.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xarithmetics</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 436 Mobile Application Design and Development at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">February 28th 2024</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Conducted research on helping children to learn math in a fun way.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Implemented the project by creating XML files for layout and Kotlin files for back-end using Android Studio.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A for the individual project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xarithmetics" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
        </MudExpansionPanels>
     </MudCard>
    <MudCard Elevation="2" Class="mt-2 pa-4">
        <MudText><strong>Fall 2023</strong></MudText>
        <MudExpansionPanels Class="mt-4">
            <MudExpansionPanel Text="Young Investors (Data Analysis Project)" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/youngInvestors.png" Height="290" Width="950" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Young Investors (Data Analysis Project)</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 422 Massive Data Management at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">December 16th 2023</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Collaborated within a dynamic team of fellow students to analyze the data regarding to all young investors around the world.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Contributed to the project by writting SQL queries, creating bar and pie charts and generating reports.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub and Canvas CMS.</li></MudText>
                        <MudText><li>Recieved A for the project along with other team members.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Investor_Data" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xonut" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xonut.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xonut</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 435 Web Technology at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">November 12th 2023</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Conducted research on facilitating tasks in donut shops and complied with the assignment requirements.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Implemented the project by creating and maintaining databases using MySQL and implementing the API and back-end using PHP and front-end using React.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A for the individual project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xonut" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xoin" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xoin.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xoin</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 435 Web Technology at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">November 5th 2023</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Conducted research on increasing accesibility to cryptocurrencies and complied with the assignment requirements.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Implemented the project by using Fetch API at the back-end and HTML, CSS and JavaScript at the front-end.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A for the individual project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xoin" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudCard>
    <MudCard Elevation="2" Class="mt-2 pa-4" >
        <MudText><strong>Summer 2023</strong></MudText>
     <MudExpansionPanels Class="mt-4">
            <MudExpansionPanel Text="Project Detroit" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/detroit.jpg" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Project Detroit</strong></h1></MudText>
                            <MudText Typo="Typo.body2">CIS 376 Software Engineering II at UM-Dearborn</MudText>
                            <MudText Typo="Typo.button">August 18th 2023</MudText>
                        </MudStack>
                        <MudText>
                            <li>
                                Collaborated within a dynamic team of fellow students to create and deploy a comprehensive
                                web application aimed at facilitating expense
                                sharing among individuals and teams, while also streamlining the management of payments.
                            </li>
                        </MudText>
                        <MudText>
                            <li>
                                Contributed to the project by spearheading the creation of essential components including Models, Database Context, Migrations,
                                Services, and Pages, while leading Unit tests, as well as actively engaging in collaborative bug fixing and documentation
                                efforts with fellow team members.
                            </li>
                        </MudText>
                        <MudText><li>Deployed the project on GitHub and BitBucket using Git and Powershell.</li></MudText>
                        <MudText><li>Recieved A+ for the implementation part of the team project.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/project-detroit" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
         </MudExpansionPanels>
     </MudCard>
    <MudCard Elevation="2" Class="mt-2 pa-4">
        <MudText><strong>Winter 2023</strong></MudText>
        <MudExpansionPanels Class="mt-4">
            <MudExpansionPanel Text="Assemblex" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/assemblex.jpg" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Assemblex</strong></h1></MudText>
                <MudText Typo="Typo.body2">CIS 375 Software Engineering I at UM-Dearborn</MudText>
                <MudText Typo="Typo.button">April 23rd 2023</MudText>
                </MudStack>
                        <MudText><li>Conducted research to build a desktop application that converts hexadecimal, decimal and binary numbers and calculates the memory address in stack.</li></MudText>
                        <MudText><li>Collaborated as full stack developer while other team members created the documentation for presentation.</li></MudText>
                        <MudText><li>Published the project on GitHub and recieved A for the implementation assignment.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Assemblex" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                </MudStack>
              </MudStack>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudCard>
</MudPaper>

@code {

}
