@page "/personal"

<PageTitle>X27: Personal Projects</PageTitle>

<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Personal Projects</strong></h1></MudText>
    <MudCard Elevation="2" Class="mt-2 pa-4">
        <MudText><strong>2024</strong></MudText>
        <MudExpansionPanels Class="mt-4">
            <MudExpansionPanel Text="Falcon" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/falcon.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Falcon</strong></h1></MudText>
                            <MudText Typo="Typo.body2">Personal Project</MudText>
                            <MudText Typo="Typo.button">August 10th 2024</MudText>
                        </MudStack>
                        <MudText><li>Conducted research on improving efficiency in task management.</li></MudText>
                        <MudText><li>Prototyped 10 GUI mockups and reverse-engineered global variable structure of CAPPS NT 8 Project.</li></MudText>
                        <MudText><li>Created 12 GUI components, an icon and a DLL file using C++ and Microsoft Foundation Class.</li></MudText>
                        <MudText><li>Deployed project to the GitHub using Git and PowerShell.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Falcon" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xrigonometry" Class="pa-2 align-center">
                <MudStack Justify="Justify.Center">
                    <MudImage Src="projects/xrigonometry.png" Height="350" Class="mx-auto my-auto" />
                    <MudStack Spacing="0">
                        <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Xrigonometry</strong></h1></MudText>
                            <MudText Typo="Typo.body2">Personal Project</MudText>
                            <MudText Typo="Typo.button">May 4th 2024</MudText>
                        </MudStack>
                        <MudText><li>Conducted research on measurement of geometric shapes.</li></MudText>
                        <MudText><li>Created 10 GUI components using C# and Windows Forms.</li></MudText>
                        <MudText><li>Deployed project to the GitHub using Git and PowerShell.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xrigonometry" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
                    </MudStack>
                </MudStack>
            </MudExpansionPanel>
        </MudExpansionPanels>
    </MudCard>
    <MudCard Elevation="2" Class="mt-2 pa-4" >
        <MudText><strong>2023</strong></MudText>
        <MudExpansionPanels Class="mt-4">
         <MudExpansionPanel Text="Labor Cost Calculator by X27" Class="pa-2 align-center">
              <MudStack Justify="Justify.Center">
             <MudImage Src="projects/laborCost.jpg" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Labor Cost Calculator by X27</strong></h1></MudText>
                            <MudText Typo="Typo.body2">Personal Project</MudText>
                            <MudText Typo="Typo.button">July 9th 2023</MudText>
                  </MudStack>
                        <MudText><li>Conducted research to build an application for software engineers to estimate cost of each team.</li></MudText>
                        <MudText><li>Collaborated as Full-Stack Developer.</li></MudText>
                        <MudText><li>Developed the entire web application HTML, CSS and JavaScript.</li></MudText>
                        <MudText><li>Published the project on GitHub.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/labor.cost.dev27" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
               </MudStack>
         </MudStack>
         </MudExpansionPanel>
         <MudExpansionPanel Text="Self Quiz by X27" Class="pa-2 align-center">
              <MudStack Justify="Justify.Center">
             <MudImage Src="projects/selfQuiz.jpg" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                            <MudText Typo="Typo.body1"><h1><strong>Self Quiz by X27</strong></h1></MudText>
                            <MudText Typo="Typo.body2">Personal Project</MudText>
                            <MudText Typo="Typo.button">June 26th 2023</MudText>
                  </MudStack>
                        <MudText><li>Conducted research to build an application for college students to memorize the topics by generating quizzes.</li></MudText>
                        <MudText><li>Collaborated as Full-Stack Developer.</li></MudText>
                        <MudText><li>Developed the entire web application HTML, CSS and JavaScript.</li></MudText>
                        <MudText><li>Published the project on GitHub.</li></MudText>
                        <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Quiz-27" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
               </MudStack>
         </MudStack>
         </MudExpansionPanel>
     </MudExpansionPanels>
      </MudCard>
     <MudCard Elevation="2" Class="mt-2 pa-4" >
        <MudText><strong>2022</strong></MudText>
     <MudExpansionPanels Class="mt-4">
         <MudExpansionPanel Text="Avalon" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/avalon.png" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Avalon</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">August 24th 2022</MudText>
                </MudStack>
                <MudText><li>Conducted research for academicians to help them find the best student they met inside or outside the classroom and select them for referral.</li></MudText>
                <MudText><li>Collaborated as Full-Stack Developer.</li></MudText>
                <MudText><li>Developed the entire web application using Entity Framework Core, Microsoft SQL Server, C# and MudBlazor.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Avalon.Academia" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
            </MudStack>
            </MudExpansionPanel>
          <MudExpansionPanel Text="Xusiness" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/xusiness.jpg" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Xusiness</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">August 8th 2022</MudText>
                </MudStack>
                <MudText><li>Conducted research for consulting companies to help them find the best client company that cooperated with the other consulting companies.</li></MudText>
                <MudText><li>Collaborated as Full-Stack Developer.</li></MudText>
                <MudText><li>Developed the entire web application using Entity Framework Core, Microsoft SQL Server, C# and MudBlazor.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xusiness" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
        <MudExpansionPanel Text="Xove" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/xove.png" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Xove</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project / Training at Epitec</MudText>
                <MudText Typo="Typo.button">June 20th 2022</MudText>
                </MudStack>
                <MudText><li>Conducted research to build a gender-inclusive, LGBTQ+ friendly and informative dating app.</li></MudText>
                <MudText><li>Collaborated as Full-Stack developer and trained by other developers.</li></MudText>
                <MudText><li>Developed the entire application using C#, Microsoft SQL Server, WebApi Endpoints, MudBlazor Components, Blazor, ASP.NET
                    and Epitec`s Custom templates.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/Xove" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
             <MudExpansionPanel Text="EpiSecurity" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/episecurity.png" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>EpiSecurity</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project / Training at Epitec</MudText>
                <MudText Typo="Typo.button">June 2022</MudText>
                </MudStack>
                <MudText><li>Conducted research to build a Web Application to help the Front-Desk to record every person entering to the building.</li></MudText>
                <MudText><li>Collaborated as Full-Stack developer and trained by other developers.</li></MudText>
                <MudText><li>Developed the entire application using C#, Microsoft SQL Server, WebApi Endpoints, Entity Framework Core, Blazor and ASP.NET.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/EpiSecurity" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Patient Manager" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/patientmanager.png" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Patient Manager</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project / Training at Epitec</MudText>
                <MudText Typo="Typo.button">May 2022</MudText>
                </MudStack>
                <MudText><li>Conducted research to build a Web application to secure each patients diagnosis data.</li></MudText>
                <MudText><li>Collaborated as Full-Stack developer and trained by other developers.</li></MudText>
                <MudText><li>Developed the entire application using C#, Microsoft SQL Server, WebApi Endpoints, Entity Framework Core, Blazor and ASP.NET.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/PatientManager" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
             <MudExpansionPanel Text="Password Generator" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/password_generator.png" Height="350" Class="rounded-lg mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Password Generator</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">May 5th 2022</MudText>
                </MudStack>
                <MudText><li>Inspired from the coding challenges and built-in password generators on my PC.</li></MudText>
                <MudText><li>Collaborated as both Front-End and Back-End developer.</li></MudText>
                <MudText><li>Developed the entire application using Windows Forms and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/password_generator" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Dating for Nerds" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/dating.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Dating for Nerds</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">January 22nd 2022</MudText>
                </MudStack>
                <MudText><li>Conducted research on people who use dating apps to find their partner.</li></MudText>
                <MudText><li>Collaborated as Full Stack developer to build a program to help people select their partners based on certain criteria's such as 
                    their college degree, profits and text responds.</li></MudText>
                <MudText><li>Developed the entire application using Windows Forms and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/dating_for_nerds" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            </MudExpansionPanels>
            </MudCard>
              <MudCard Elevation="2" Class="mt-2 pa-4" >
        <MudText><strong>2021</strong></MudText>
     <MudExpansionPanels Class="mt-4">
          <MudExpansionPanel Text="Hirex" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/hirex.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Hirex</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">July 30th 2021</MudText>
                </MudStack>
                <MudText><li>Conducted research on the challenges that the underrepresented minority students face while getting a job and the skills that the companies look for when hiring.</li></MudText>
                <MudText><li>Collaborated as Full Stack developer to build a database program for employers to hire underrepresented minority students easily for internship positions.</li></MudText>
                <MudText><li>Developed the entire application using Windows Forms, MySQL and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/hirex" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="90`s Music" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/90_music.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>90`s Music</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">July 24th 2021</MudText>
                </MudStack>
                <MudText><li>Brainstormed on a kiosk application which plays music released between 1990 and 1993 and provides information about each artist.</li></MudText>
                <MudText><li>Collaborated as both Front-End and Back-End developer.</li></MudText>
                <MudText><li>Developed the entire application using XAML, UWP and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/90-s-Music" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="X Calculator" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/calculator.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>X Calculator</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">June 3th 2021</MudText>
                </MudStack>
                <MudText><li>Brainstormed on a simple desktop calculator to make calculations easier.</li></MudText>
                <MudText><li>Collaborated both as Front-End and Back-End developer.</li></MudText>
                <MudText><li>Developed the entire application using XAML, WPF and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/x_calculator" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
             <MudExpansionPanel Text="STD Risk Calculator" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/std.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>STD Risk Calculator</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">May 27th 2021</MudText>
                </MudStack>
                <MudText><li>Conducted research on transmission of sexually transmitted diseases and analyzed the likelihood of transmission based on certain sexual activities, case reports and prevention methods.</li></MudText>
                <MudText><li>Collaborated as both Front-End and Back-End developer.</li></MudText>
                <MudText><li>Developed a multi form application that has the user enter potential exposure and analyzes the risk to determine if the user should get tested or not using XAML, UWP and C#.</li></MudText>
                <MudText><li>Published the project on both Devpost and GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/std_risk_calculator" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="X Player" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/player.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>X Player</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">May 21st 2021</MudText>
                </MudStack>
                <MudText><li>Brainstormed on a simple media player to select music from local drive and play when having a shower.</li></MudText>
                <MudText><li>Collaborated both as Front-End and Back-End developer.</li></MudText>
                <MudText><li>Developed the entire application using Windows Forms and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/x_player" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
            <MudExpansionPanel Text="Xurrency" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/currency.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>Xurrency</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">March 2021</MudText>
                </MudStack>
                <MudText><li>Brainstormed on a basic finance application which will convert the money in given amount to value in another currency and provide updates from various news resources based on financial news such as WSJ and CNN Money.</li></MudText>
                <MudText><li>Collaborated as both Front-End and Back-End developer.</li></MudText>
                <MudText><li>Created Currency Convertor, Financial News and About pages using Windows Forms and C#.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/xurrency" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
         </MudExpansionPanels>
         </MudCard>
          <MudCard Elevation="2" Class="mt-2 pa-4" >
        <MudText><strong>2020</strong></MudText>
         <MudExpansionPanels Class="mt-4">
              <MudExpansionPanel Text="X Word" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/word.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>X Word</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">December 2020</MudText>
                </MudStack>
                <MudText><li>Brainstormed on a portable text editor which can be run on any device with Java Virtual Machine (JVM).</li></MudText>
                <MudText><li>Collaborated both as Front-End and Back-End developer.</li></MudText>
                <MudText><li>Developed the entire application using Java.</li></MudText>
                <MudText><li>Published the project on GitHub.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/x_word" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
              </MudExpansionPanels>
        </MudCard>
        <MudCard Elevation="2" Class="mt-2 pa-4" >
        <MudText><strong>2019</strong></MudText>
     <MudExpansionPanels Class="mt-4">
         <MudExpansionPanel Text="BusX" Class="pa-2 align-center">
            <MudStack Justify="Justify.Center">
             <MudImage Src="projects/bus.png" Height="350" Class="mx-auto my-auto"/>
              <MudStack Spacing="0">
                  <MudStack Class="align-center mb-2" Spacing="0">
                <MudText Typo="Typo.body1"><h1><strong>BusX</strong></h1></MudText>
                <MudText Typo="Typo.body2">Personal Project</MudText>
                <MudText Typo="Typo.button">June 2019</MudText>
                </MudStack>
                <MudText><li>Conducted research on simplifying GNU/Linux operating system for end-users.</li></MudText>
                <MudText><li>Managed project without collaboration.</li></MudText>
                <MudText><li>Created 150 GUI Mockups, 24 sounds during the development process.</li></MudText>
                <MudText><li>Suspended development process due to lack of programming knowledge.</li></MudText>
                <MudButton Class="mt-4" Href="https://github.com/denizkarya1999/BusX-OS-Desktop-User-Interface" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Download" Color="Color.Info">Download Source Code</MudButton>
            </MudStack>
        </MudStack>
            </MudExpansionPanel>
         </MudExpansionPanels>
         </MudCard>
</MudPaper>

@code {

}
