@page "/awards"
<PageTitle>X27: Awards</PageTitle>
<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>My Honors and Distinctions</strong></h1></MudText>
     <MudPaper Class="pa-4 mt-2">
         <MudTimeline>
            <MudTimelineItem Color="Color.Success" Size="Size.Small">
                <ItemOpposite>
                    <MudText Color="Color.Success" Typo="Typo.h5">December 2023</MudText>
                </ItemOpposite>
                <ItemContent>
                    <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Dean`s List</MudText>
                    <MudText>University of Michigan-Dearborn</MudText>
                    <MudButton Class="mt-2" Href="https://umdearborn.edu/cecs/undergraduate-programs/undergraduate-advising/academic-success" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM</MudButton>
                </ItemContent>
            </MudTimelineItem>
    <MudTimelineItem Color="Color.Info" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Info" Typo="Typo.h5">January 2021 - Present</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudText Color="Color.Info" Typo="Typo.h6" GutterBottom="true">International Student Scholarship</MudText>
            <MudText>University of Michigan-Dearborn</MudText>
            <MudButton Class="mt-2" Href="https://umdearborn.edu/financial-aid/types-aid/scholarships/international-student-scholarship" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info">LEARN MORE</MudButton>
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Success" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Success" Typo="Typo.h5">December 2020</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Dean`s List</MudText>
            <MudText>Eastern Michigan University</MudText>
            <MudButton Class="mt-2" Href="https://www.emich.edu/deans-list/index.php" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM</MudButton>
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Success" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Success" Typo="Typo.h5">May 2020</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Dean`s List</MudText>
            <MudText>Eastern Michigan University</MudText>
             <MudButton Class="mt-2" Href="https://www.emich.edu/deans-list/index.php" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM</MudButton>
        </ItemContent>
    </MudTimelineItem>
     <MudTimelineItem Color="Color.Success" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Success" Typo="Typo.h5">December 2019</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Dean`s List</MudText>
            <MudText>Eastern Michigan University</MudText>
             <MudButton Class="mt-2" Href="https://www.emich.edu/deans-list/index.php" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM</MudButton>
        </ItemContent>
    </MudTimelineItem>
    <MudTimelineItem Color="Color.Success" Size="Size.Small">
        <ItemOpposite>
            <MudText Color="Color.Success" Typo="Typo.h5">May 2019</MudText>
        </ItemOpposite>
        <ItemContent>
            <MudText Color="Color.Success" Typo="Typo.h6" GutterBottom="true">Dean`s List</MudText>
            <MudText>Eastern Michigan University</MudText>
             <MudButton Class="mt-2" Href="https://www.emich.edu/deans-list/index.php" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Check" Color="Color.Success">CONFIRM</MudButton>
        </ItemContent>
    </MudTimelineItem>
</MudTimeline>
      </MudPaper>
    </MudPaper>
@code {

}
