@page "/contact"
<PageTitle>X27: Contact</PageTitle>
<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Contact Dev-27</strong></h1></MudText>
     <MudNavMenu Class="mud-width-full">
         <MudCard Elevation="2" Class="mt-4 pa-4">
                    <MudText Class="mb-2"><strong>Connect with</strong></MudText>
        <MudNavLink Href="https://www.linkedin.com/in/deniz-acikbas-8491a8170/" Icon="@Icons.Custom.Brands.LinkedIn">LinkedIn</MudNavLink>
        <MudNavLink Href="https://github.com/denizkarya1999" Icon="@Icons.Custom.Brands.GitHub">GitHub</MudNavLink>
        <MudNavLink Href="https://devpost.com/denizkarya1999?ref_content=user-portfolio&ref_feature=portfolio&ref_medium=global-nav" Icon="@Icons.Filled.AccountTree">Devpost</MudNavLink>
    </MudCard>
    </MudNavMenu>
    <MudNavMenu Class="mud-width-full">
         <MudCard Elevation="2" Class="mt-4 pa-4">
                    <MudText Class="mb-2"><strong>Reach out by</strong></MudText>
        <MudNavLink Href="mailto:dacikbas@umich.edu" Icon="@Icons.Filled.Email">Email | <strong>dacikbas@umich.edu</strong></MudNavLink>
        <MudNavLink Href="tel:734-660-8867" Icon="@Icons.Filled.Phone">Phone | <strong>734-660-8867</strong></MudNavLink>
        </MudCard>
    </MudNavMenu>
     <MudNavMenu Class="mud-width-full">
         <MudCard Elevation="2" Class="mt-4 pa-4">
                    <MudText Class="mb-2"><strong>For more</strong></MudText>
        <MudNavLink Href="https://www.facebook.com/denizkaryaacikbas99" Icon="@Icons.Custom.Brands.Facebook">Facebook</MudNavLink>
        <MudNavLink Href="https://www.instagram.com/denizkaryaacikbas/" Icon="@Icons.Custom.Brands.Instagram">Instagram</MudNavLink>
    </MudCard>
    </MudNavMenu>
</MudPaper>
@code {

}
