@page "/experience"
<PageTitle>X27: Experience</PageTitle>

<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Experience</strong></h1></MudText>
    <MudPaper Class="mt-2 pa-4">
        <MudStack Row="true">
            <MudAvatar Image="experience/aat3d.jpg" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Software Engineer Intern</strong></MudText>
                <MudText Typo="Typo.button">Applied Automation Technologies | Full-Time</MudText>
                <MudText Typo="Typo.body2">May 2024 - August 2024</MudText>
                <MudText Typo="Typo.body2">Rochester Hills, MI</MudText>
                <MudText Class="mt-2">
                    <li>
                        Evaluated and scripted nine Windows automation tools, recommending optimal software solutions.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Developed UML diagrams and documentation for CAPPS DMIS and CAPPS NC projects, utilizing both C++ and C#.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Improved performance and customer satisfaction by refactoring code from if-else to switch, optimizing global variables, fixing a database bug, and redesigning the connection dialog using C++, C#, MFC, and Windows Forms.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Advanced expertise in MFC and C++, with hands-on experience in TestComplete and Ranorex.
                    </li>
                </MudText>
            </MudStack>
        </MudStack>
        <MudStack Justify="Justify.Center">
            <MudButton Class="mt-4" Href="https://aat3d.com/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Dark">CONTACT AAT3D</MudButton>
        </MudStack>
    </MudPaper>
    <MudPaper Class="mt-2 pa-4">
        <MudStack Row="true">
            <MudAvatar Image="experience/uofm.jpg" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
            <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Full Stack Developer at a Student Team</strong></MudText>
                <MudText Typo="Typo.button">CIS 376 Software Engineering II at UofM Dearborn | 4 Academic Credits</MudText>
                <MudText Typo="Typo.body2">May 2023 - August 2023</MudText>
                <MudText Typo="Typo.body2">Dearborn, MI</MudText>
                <MudText Class="mt-2">
                    <li>
                        Collaborated within a dynamic team of fellow students to create and deploy a comprehensive
                        web application aimed at facilitating expense
                        sharing among individuals and teams, while also streamlining the management of payments.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Utilized SQL for data querying, employed Entity Framework Core for database modeling and management, managed both front-end and back-end using C# and JavaScript,
                        enhanced user experience with HTML, CSS, and the Blazor framework, including MudBlazor components, within the ASP.NET Core environment, rigorously tested the
                        application using xUnit.net, and ensured version control and deployment through Git to platforms including Bitbucket and GitHub.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Contributed to the project by spearheading the creation of essential components including Models, Database Context, Migrations,
                        Services, and Pages, while leading Unit tests, as well as actively engaging in collaborative bug fixing and documentation
                        efforts with fellow team members.
                    </li>
                </MudText>
                <MudText>
                    <li>
                        Attained a comprehensive understanding of software engineering theories through hands-on experience within a student team,
                        concurrently advancing expertise in database management, refining version control practices,
                        and honing skills in assigning user privileges
                    </li>
                </MudText>
            </MudStack>
        </MudStack>
        <MudStack Justify="Justify.Center">
            <MudButton Class="mt-4" Href="https://umich.edu/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Warning">CONTACT UNIVERSITY OF MICHIGAN</MudButton>
        </MudStack>
    </MudPaper>
    <MudPaper Class="mt-2 mb-2 pa-8">
        <MudStack Row="true">
            <MudAvatar Image="experience/epitec.png" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
               <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Software Developer Intern</strong></MudText>
                <MudText Typo="Typo.button">Epitec | Full-Time</MudText>
                <MudText Typo="Typo.body2">May 2022 - July 2022</MudText>
                <MudText Typo="Typo.body2">Southfield, MI</MudText>
                <MudText Class="mt-2"><li>Collaborated with the Application Security Team as a full-stack developer to create a web application that helps recruiters to assign tasks to their contractors.</li></MudText>
                <MudText><li>Created pages and components by creating shared models to specify which data to be managed using C#, writing complex SQL queries to manage relevant data in database using RepoDB, replacing MVC controllers with Ardalis endpoints for client to perform CRUD operations using C#, 
testing each endpoint with Swagger, Postman and xUnit to make sure whether the API is working using JSON, creating HTTP requests for each endpoint to let the program to perform CRUD operations using HttpClient and C#, creating services and request handlers to trigger endpoints by Blazor app using HttpClient and C#
 and creating Blazor forms with MudBlazor components to provide a dynamic user experience using HTML, CSS and C#.</li></MudText>
                <MudText><li>Gained knowledge of Entity Framework Core, ASP.NET Core, RepoDB, ASP.NET MVC, Ardalis Endpoints, Swagger, Postman, xUnit, JSON, HttpClient, MudBlazor and Blazor.</li></MudText>
            </MudStack>
            </MudStack>
            <MudStack Justify="Justify.Center">
                <MudButton Class="mt-4" Href="https://epitec.com/contact/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Error">CONTACT EPITEC</MudButton>
            </MudStack>
    </MudPaper>
                    <MudPaper Class="mt-2 pa-8">
        <MudStack Row="true">
            <MudAvatar Image="experience/dwl.png" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
               <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>Founder and Studio Lead</strong></MudText>
                <MudText Typo="Typo.button">Developers Without Limits Studio | Part-Time</MudText>
                <MudText Typo="Typo.body2">May 2021 - August 2021</MudText>
                <MudText Typo="Typo.body2">Dearborn, MI</MudText>
                <MudText Class="mt-2"><li>Founded The University of Michigan-Dearborn`s first app development studio.</li></MudText>
                <MudText><li>Managed a team of 14 developers to build Project Husky - a finance application designed with 
                    cryptocurrency investors in mind and Xase - a database program 
                    which helps employers to select the best candidate for software engineering positions.</li></MudText>
                <MudText><li>Created 12 UI mockups and 8 application pages for Project Husky and the entire form of Xase 
                    using Adobe XD, Windows Forms, UWP, XAML, MySQL and C#.</li></MudText>
                <MudText><li>Achieved team management skills while leading the studio.</li></MudText>
            </MudStack>
            </MudStack>
            <MudStack Justify="Justify.Center">
                <MudButton Class="mt-4" Href="https://discord.gg/qKYPVMZ3" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Info">CONTACT DWL</MudButton>
            </MudStack>
    </MudPaper>
    <MudPaper Class="mt-2 pa-8">
        <MudStack Row="true">
            <MudAvatar Image="experience/wolverinesoft.png" Class="ml-2 mt-2 mb-2" Size="Size.Large" />
               <MudStack Justify="Justify.Center" Spacing="0">
                <MudText><strong>User Experience Designer</strong></MudText>
                <MudText Typo="Typo.button">WolverineSoft Studio | Part-Time</MudText>
                <MudText Typo="Typo.body2">May 2020 - August 2020</MudText>
                <MudText Typo="Typo.body2">Ann Arbor, MI</MudText>
                <MudText Class="mt-2"><li>Participated University of Michigan-Ann Arbor`s WolverineSoft Studio.</li></MudText>
                <MudText><li>Collaborated with Game Design and Art department to create an action-based video game through Confluence.</li></MudText>
                <MudText><li>Designed more than 30 icons and cursors and 6 UI mockups using Adobe Illustrator and Adobe Photoshop.</li></MudText>
                <MudText><li>Achieved fundamental UX/UI design skills while collaborating with a team.</li></MudText>
            </MudStack>
            </MudStack>
             <MudStack Justify="Justify.Center">
                <MudButton Class="mt-4" Href="https://www.wolverinesoft.org/join-us" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.ContactMail" Color="Color.Primary">CONTACT WOLVERINESOFT</MudButton>
            </MudStack>
    </MudPaper>
    </MudPaper>

@code {

}
