@page "/extras"
<PageTitle>X27: Extras</PageTitle>
<MudPaper Class="pa-8 ma-5" Elevation="3">
    <MudText Class="mb-2"><h1><strong>Additional Highlights</strong></h1></MudText>
    <MudExpansionPanels Class="mt-4">
        <MudExpansionPanel Text="Languages" MaxHeight="300">
            <MudStack Row="true">
                <MudAvatar Image="languages/USA.png" Class="ml-2 mt-2 mb-2" Size="Size.Medium" />
                <MudStack Justify="Justify.Center" Spacing="0">
        <MudText Typo="Typo.body1">English</MudText>
        <MudText Typo="Typo.body2">Full professional proficiency</MudText>
        </MudStack>
        </MudStack>
        <MudDivider/>
        <MudStack Row="true">
                <MudAvatar Image="languages/germany.png" Class="ml-2 mt-2 mb-2" Size="Size.Medium" />
                <MudStack Justify="Justify.Center" Spacing="0">
        <MudText Typo="Typo.body1">German</MudText>
        <MudText Typo="Typo.body2">Limited working proficiency</MudText>
        </MudStack>
        </MudStack>
        <MudDivider/>
        <MudStack Row="true">
                <MudAvatar Image="languages/turkey.jpg" Class="ml-2 mt-2 mb-2" Size="Size.Medium" />
                <MudStack Justify="Justify.Center" Spacing="0">
        <MudText Typo="Typo.body1">Turkish</MudText>
        <MudText Typo="Typo.body2">Native or bilingual proficiency</MudText>
        </MudStack>
        </MudStack>
    </MudExpansionPanel>
    <MudExpansionPanel Text="Active Organizations" MaxHeight="2500">
        <MudStack Class="mb-2" Spacing="0">
        <MudText Typo="Typo.body1">WolverineSoft</MudText>
        <MudText Typo="Typo.body2">Member | February 2020 to Present | University of Michigan-Ann Arbor</MudText>
        </MudStack>
        <MudButton Class="mb-2" Href="https://www.wolverinesoft.org/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info">LEARN MORE</MudButton>
        <MudDivider/>
        <MudStack Class="mt-2 mb-2" Spacing="0">
        <MudText Typo="Typo.body1">Association for Computing Machinery</MudText>
        <MudText Typo="Typo.body2">Member | September 2021 to Present | University of Michigan-Dearborn</MudText>
        </MudStack>
        <MudButton Class="mb-2" Href="https://www.acm.org/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info">LEARN MORE</MudButton>
        <MudDivider/>
        <MudStack Class="mt-2 mb-2" Spacing="0">
        <MudText Typo="Typo.body1">Dearborn Campus Engineers</MudText>
        <MudText Typo="Typo.body2">Member | January 2021 to Present | University of Michigan-Dearborn</MudText>
        </MudStack>
         <MudButton Class="mb-2" Href="https://umdearborn.campuslabs.com/engage/organization/DCE" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info">LEARN MORE</MudButton>
        <MudDivider/>
        <MudStack Class="mt-2 mb-2" Spacing="0">
        <MudText Typo="Typo.body1">International Student Association</MudText>
        <MudText Typo="Typo.body2">Member | January 2022 to Present | University of Michigan-Dearborn</MudText>
        </MudStack>
        <MudButton Class="mb-2" Href="https://umdearborn.campuslabs.com/engage/organization/giso" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info">LEARN MORE</MudButton>
    </MudExpansionPanel>
     <MudExpansionPanel Text="Miscellaneous" MaxHeight="300">
         <MudStack Class="mt-2 mb-2" Spacing="0">
        <MudText Typo="Typo.body1">Alpha Phi Omega National Service Fraternity</MudText>
        <MudText Typo="Typo.body2">Alumni | September 2018 to December 2020 | Lambda Phi Chapter | Eastern Michigan University</MudText>
        </MudStack>
        <MudButton Class="mb-2" Href="https://apo.org/" Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Info" Color="Color.Info">LEARN MORE</MudButton>
         </MudExpansionPanel>
         <MudExpansionPanel Text="Drawings (Hobby)" MaxHeight="2900">
             <MudStack>
                 <MudImage Src="drawings/LasPalermos.jpg" Width="632" Height="450" Alt="Las Palermos, Federal Republic of Karya" Elevation="25" Class="rounded-lg ma-4"/>
                  <MudImage Src="drawings/Derby.jpg" Width="632" Height="450" Alt="Derby, Federal Republic of Karya" Elevation="25" Class="rounded-lg ma-4"/>
                  <MudImage Src="drawings/Sheffield.jpg" Width="632" Height="450" Alt="Sheffield, Republic of Lotany" Elevation="25" Class="rounded-lg ma-4"/>
             <MudImage Src="drawings/Yomoha.jpg" Width="632" Height="450" Alt="Yomoha, Federal Republic of Karya" Elevation="25" Class="rounded-lg ma-4"/>
             <MudImage Src="drawings/USBorder.jpg" Width="632" Height="450" Alt="San Ysidro, United States of America | Tijuana, Mexico" Elevation="25" Class="rounded-lg ma-4"/>
         </MudStack>
             </MudExpansionPanel>
             <MudExpansionPanel Text="Visits (Hobby)" MaxHeight="5700">
             <MudStack>
                 <h2>Detroit, MI | January 2022</h2>
                 <MudImage Src="visits/detroit.jpg" Width="500" Height="350" Alt="Detroit, MI" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Ann Arbor, MI | September 2021</h2>
                 <MudImage Src="visits/AnnArbor.jpg" Width="500" Height="350" Alt="Ann Arbor, MI" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Datca, Turkey | August 2021</h2>
                 <MudImage Src="visits/datca.jpg" Width="500" Height="350" Alt="Datca, Turkey" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>San Diego, CA | August 2020</h2>
                 <MudImage Src="visits/sandiego.jpg" Width="500" Height="350" Alt="San Diego, CA" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Los Angeles, CA | December 2019</h2>
                 <MudImage Src="visits/LosAngeles.jpg" Width="320" Height="450" Alt="Los Angeles, CA" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Chicago, IL | November 2019</h2>
                 <MudImage Src="visits/chicago.jpg" Width="500" Height="350" Alt="Chicago, IL" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>New York City, NY | November 2018</h2>
                 <MudImage Src="visits/newyork.jpg" Width="320" Height="450" Alt="New York City, NY" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>London, UK | July 2017</h2>
                 <MudImage Src="visits/london.jpg" Width="500" Height="350" Alt="London, UK" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Munich, Germany | March 2016</h2>
                 <MudImage Src="visits/munich.jpg" Width="500" Height="350" Alt="Munich, Germany" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Zurich, Switzerland | March 2016</h2>
                 <MudImage Src="visits/zurich.jpg" Width="270" Height="450" Alt="Zurich, Switzerland" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Davos, Switzerland | March 2016</h2>
                 <MudImage Src="visits/davos.jpg" Width="550" Height="350" Alt="Davos, Switzerland" Elevation="25" Class="rounded-lg ma-4"/>
                 <h2>Milan, Italy | March 2016</h2>
                 <MudImage Src="visits/milan.jpg" Width="550" Height="350" Alt="Milan, Italy" Elevation="25" Class="rounded-lg ma-4"/>
         </MudStack>
             </MudExpansionPanel>
        </MudExpansionPanels>
    </MudPaper>

@code {

}
